.github
.vscode
bin
node_modules
.gitignore
.npmignore
.prettierrc
CONTRIBUTING.md
eslint.config.js
push.sh
tsconfig.json
.git

!template/.editorconfig
!template/.eslintrc.json
!template/.gitattributes
!template/.gitignore
!template/.prettierignore
!template/.prettierrc.json
!template/.trae
!template/.vscode
!template/forge.config.ts
!template/package-lock.json
!template/package.json
!template/postcss.config.js
!template/src
!template/tailwind.config.js
!template/tsconfig.json
!template/webpack.main.config.ts
!template/webpack.plugins.ts
!template/webpack.renderer.config.ts
!template/webpack.rules.ts
